.MainMenu__item {
  margin-bottom: 56px;
  text-align: right;
}

.MainMenu__link {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.MainMenu__link__active {
  padding: 10px 14px;
  color: #0500ff;
  background-color: #fff;
}
@media (min-width: 768px) {
  .MainMenu__item {
    margin: 0;
  }
}
