.posts__content {
    display: block; 
}
.posts__item {
    border: 5px solid #0500FF;
    margin-bottom: 30px;
    box-shadow: 10px 10px #0500FF;
}
.picture {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.posts__image {
    width: 295px;
    object-fit: cover;
    height: 179px;
    margin-top: 18px;
    border: 5px solid #0500FF;
    box-shadow: 5px 5px #0500FF;
}
.posts__date {
    height: 16px;
    color: #0500FF;
}
.posts__number {
    display: none;
}
.posts__heading {
    display: grid;
    justify-items: center;
    padding-bottom: 23px;
    border-bottom: 5px solid #0500FF;
}
.posts__title {
    color: #0500FF;
    font-size: 32px;
    text-align: center;
}
.posts__text {
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    line-height: 22px;
    margin-left: 22px;
}



@media (min-width: 768px) {
    .posts__item {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .posts__number {
        display: block;
        font-weight: 700;
        color: #0500FF;
        font-size: 148px;
    }
    .picture {
        margin: 0px 0px 32px 26px;
    }
    .posts__content {
        display: flex;
        align-items: center;justify-content: space-between;
    }
    .posts__image {
        width: 115px;
        height: 115px;
        margin-top: 0;
    }
    .posts__text {
        width: 494px;
        font-size: 12px;
    }
    .posts__number::before {
        display: none;
    }
}
@media (min-width: 1100px) {
    .posts{
        margin: 0 auto;
        width: 956px;
    }
    .posts__title {
        color: #0500FF;
        font-size: 32px;
    }
    .posts__list {
        margin: auto;
    }
    
    .posts__item {
        border: 5px solid #0500FF;
        margin-bottom: 30px;
        box-shadow: 10px 10px #0500FF;
    }
    .posts__heading {
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 0px 20px 0px 20px;
    }
    .posts__date {
        height: 16px;
        color: #0500FF;
    }
    .posts__image {
        margin-top: 26px;
        border: 5px solid #0500FF;
        box-shadow: 5px 5px #0500FF;
    }
    .posts__content {
        justify-content: space-between;
        align-items: center;
        display: flex;
        font-size: 12px;
    }
    .posts__text {
        font-weight: 400;
        text-align: start;
        margin: 0%;
        line-height: 22px;
    }
    .posts__number {
        font-weight: 700;
    }
    .posts__number::before {
        content: "_";
        display: inline;
    }
    .posts__more {
        display: block;
        font-size: 16px;
        color: white;
        text-decoration: none;
        width: 280px;
        height: 48px;
        text-align: center;
        margin: auto;
        padding-top: 14px;
        margin-top: 64px;
        background-color: #0500FF;
    }
}
