.posts__content {
  display: block;
}
.posts__item {
  border: 5px solid #0500ff;
  margin-bottom: 30px;
  box-shadow: 10px 10px #0500ff;
}
.posts__number__none {
  display: none;
}
.posts__item__blue {
  background-color: #0500ff;
}
.posts__image {
  width: 295px;
  object-fit: cover;
  height: 179px;
  margin-top: 18px;
  border: 5px solid #0500ff;
  box-shadow: 5px 5px #0500ff;
  display: block;
  width: fit-content;
  margin: 26px auto;
  margin-left: 32px;
}
.posts__image__white {
  border: #fff;
  box-shadow: 5px 5px#fff;
}
.posts__date {
  height: 16px;
  color: #0500ff;
}
.posts__date__white {
  color: #fff;
}
.posts__number {
  display: none;
}
.posts__heading {
  display: grid;
  justify-items: center;
  padding-bottom: 23px;
  border-bottom: 5px solid #0500ff;
}
.posts__heading__white {
  border-bottom: 5px solid #fff;
}
.posts__text {
  font-weight: 400;
  font-size: 18px;
  text-align: start;
  line-height: 22px;
  margin-left: 22px;
}
.posts__text__white {
  color: #fff;
}
.posts__title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.posts__title__white {
  color: #fff;
}

@media (min-width: 768px) {
  .posts__item {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .posts__number {
    display: block;
    font-weight: 700;
    color: #0500ff;
    font-size: 148px;
  }
  .posts__number__white {
    color: #fff;
  }

  .picture {
    margin: 0px 0px 32px 26px;
  }
  .posts__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .posts__image {
    width: 115px;
    height: 115px;
    margin-top: 0;
  }
  .posts__text {
    width: 494px;
    font-size: 12px;
  }
  .posts__number::before {
    display: none;
  }
  .posts__more {
    margin-bottom: 64px;
  }
}
@media (min-width: 1100px) {
  .posts {
    margin: 0 auto;
    width: 956px;
  }
  .posts__list {
    margin: auto;
  }
  .posts__heading {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 20px 0px 20px;
  }
  .posts__number__none {
    display: none;
  }
  .posts__image {
    margin-top: 26px;
  }
  .posts__content {
    font-size: 12px;
  }
  .posts__text {
    font-weight: 400;
    text-align: start;
    margin: 0%;
    line-height: 22px;
  }
  .posts__number::before {
    content: "_";
    display: inline;
  }
}
