.section {
  margin: 0 auto;
}
.title {
  margin: 45px 0;
  text-align: center;
  color: blue;
  font-size: 28px;
}
.filter__button {
  height: 34px;
  font-size: 18px;
  padding: 4px 15px 8px 15px;
  border: none;
  color: #fff;
  background-color: blue;
  margin-right: 18px;
  margin-bottom: 10px;
}
.search__title {
  color: blue;
  font-size: 28px;
  margin-top: 47px;
  margin-bottom: 9px;
}
.search {
  outline: none;
  border: 5px solid blue;
  margin-bottom: 91px;
  height: 74px;
  align-items: center;
  width: 100%;
  font-size: 30px;
  color: blue;
}

@media (min-width: 1100px) {
  .section {
    width: 956px;
  }
  .search {
    width: 306px;
  }
}
