.content {
    padding: 110px 20px 80px;
}
@media (min-width: 768px) {
    .content{
    padding: 0px 78px;
}
}
@media (min-width: 1100px) {
    .content {
        padding: 0px;
        padding-top: 20px;
    }
}