.footer__text {
    width: 100vw;
    height: 104px;
    background-color: #0500FF;
    color: white;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 0%;
    padding-top: 40px;
    font-size: 18px;
}